* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ff0000;
}

.create {
  display: flex;
  flex-direction: column;
  justify-self: center;
  max-width: 500px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  border: 3px solid #000000;
  background: #f3ca20;
}

.delete-btn {
  display: inline-block;
  width: 35px;
  height: 30px;
  background-color: #ff0000;
  cursor: pointer;
}

.inputTodo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fill-form {
  font-size: 100%;
  width: 90%;
  height: 30px;
  margin-top: 5px;
  border: 5px #000000 solid;
  margin-bottom: 5px;
}
